.dark-mode{
    background-color: #0f172a;
    color: #e2e8f0;
}

.dark-mode nav{
    background-color: #020617;
    color: #e2e8f0;
}

.dark-mode section{
    background-color: #0f172a;
    color: #e2e8f0;
}

.dark-mode .bg-blue-100{
    background-color: #020617;
    color: #e2e8f0;
}

.dark-mode .bg-white{
    background-color: #1e293b;
}

.dark-mode .text-gray-700{
    color: #e2e8f0;
}

#typing-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,100% { opacity: 1; }
    50% { opacity: 0; }
}
#skills-container div {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
 }